<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/52dd6c93de.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style-admin.css">
    <title>Document</title>
</head>

<body>
    <h1>Bienvenido {{nombre}}</h1>

    <h2>Lista de Novedades</h2>
    <div class="Contenedor">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Servicio</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            {{#each servicios}}
            <tbody>
                <tr>
                    <th scope="row">{{ID}}</th>
                    <td>{{Servicio}}</td>
                    <td>{{Descripcion}}</td>
                    <td>{{Imagen}}</td>
                    <td>
                        <a href="/admin/editar/{{ID}}"><i class="fa-regular fa-pen-to-square"></i></a>
                        <a href="/admin/eliminar/{{ID}}"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>

            {{/each}}
        </table>

    </div>

    <a href="/admin/agregar">Agregar</a><br>

</body>

<a href="/admin/Salir">Cerrar Sesion</a>

</html>